.searchBlockContainer{
    margin-bottom: 120px;
    width: 100%;
}

.searchContainer{
    background: var(--containerBgColor);
    border: 1px solid var(--containerBorderColor);
    border-radius: 64px;
    box-shadow: 0px 0px 30px var(--containerBoxShadowColor);
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    transition: all 300ms ease;
}

.searchContainer:focus-within{
    color: black;
    background: white;
    box-shadow: 0px 0px 30px white;
    border: 1px solid black;
}
.searchContainer svg{
    max-width: 19px;
    max-height: 19px;
    cursor: pointer;
}

.searchContainer input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: inherit;
}


.searchContainer input::placeholder{
    color: inherit;
}
@media (max-width: 767px){
    .searchBlockContainer{
        margin-bottom: 30px;
    }
    .searchContainer{
        padding: 10px 20px;
        gap: 5px;
    }

    .searchContainer input{
        font-size: 14px;
    }
}