.businessCreditContainer{
    margin-bottom: 90px;
    width: 100%;
}

.cardContainer{
    box-shadow: 0px 0px 30px var(--containerBoxShadowColor);
    background: var(--containerBgColor);
    color: white;
    border: 1px solid var(--containerBorderColor);
    border-radius: 64px;
    display: flex;
    justify-content: space-between;
    transition: all 500ms ease;
}

.cardContainer:hover{
    transform: scale(1.02);
    color:#4E2473;
    background: white;
    box-shadow: 0px 0px 30px white;
}

.cardContainer:hover .openFormButton{
    color:#4E2473;
    background: white;
    border-color: none;
    box-shadow: 0px 0px 10px gray;
}

.cardContainer:hover .openFormButton:hover{
    color:white;
    background: #4E2473;
    border-color: var(--containerBorderColor);
    box-shadow: 0px 0px 30px #4E2473;
}

.cardContainer img{
    border-radius: 0 64px 64px 0;
    max-width: 45%;
}

.cardDescContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(1rem + 24px);
}

.cardDescTitle{
    margin: 0;
    font-size: 36px;
}

.cardDescText{
    font-size: 24px;
    font-weight: 200;
}

.openFormButton {
    display: flex;
    justify-content: center;
    background: var(--containerBgColor);
    color:white;
    max-width: 100%;
    width: 70%;
    padding: 20px 0px;
    box-shadow: 0px 0px 30px var(--containerBgColor);
    border: 1px solid var(--containerBorderColor);
    border-radius: 48px;
    transition: all 500ms ease;
    font-size: 32px;
    font-weight: 700;
}

@media (max-width:1200px) and (min-width:768px){
    .businessCreditContainer{
        margin-bottom: 30px;
    }

    .cardDescTitle{
        font-size: 20px;
    }

    .cardDescText{
        font-size: 18px;
    }

    .openFormButton{
        font-size: 18px;
        padding: 10px 0px;
    }
}

@media (max-width:767px){
    .businessCreditContainer{
        margin-bottom: 30px;
    }
    .cardContainer{
        flex-wrap: wrap;
        border-radius: 32px;
    }

    .cardContainer img{
        border-radius: 0 0 32px 32px;
        max-width: 100%;
    }

    .cardDescContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 30px;
    }

    .cardDescTitle{
        margin: 0;
        font-size: 18px;
    }

    .cardDescText{
        font-size: 14px;
        font-weight: 200;
    }
    .openFormButton{
        max-width: 100%;
        font-size: 14px;
        padding: 10px 0px;
    }
}

