.investAdvantagesContainer{
    width: 100%;
    margin-bottom: 60px;
}

.advantagesCardsContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.cardsContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}


.advantagesCard{
    width: 300px;
    padding: 50px 30px;
    background:#ffffff;
    color: #4e2473;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

.advantagesCard div{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    height: 80px;
}
.advantagesCard div h3{
    margin: 0;
}


.advantagesCard img{
    max-width: 70px;
    height: 50px;
    margin-bottom: 30px;
}

.bottomCard{
    width: 500px;
    padding: 30px 30px;
}

@media (max-width:1200px) and (min-width:768px){
    .investAdvantagesContainer{
        margin-bottom: 30px;
    }

    .advantagesCardsContainer{
        gap: 10px;
    }

    .cardsContainer{
        width: 100%;
        gap:0px;
    }

    .advantagesCard{
        width: calc(768px/4.5);
        padding: 60px 40px;
        align-items: center;
        text-align: center;
    }

    .advantagesCard h3{
        font-size: 18px;
    }

    .advantagesCard p{
        font-size: 14px;
    }

    .bottomCard{
        width: 360px;
        padding: 60px 10px;
    }
    .bottomCard img{
        max-width: 100%;
        width: 100px;
        height: 100px;
    }

}    

@media (max-width:767px){
    .investAdvantagesContainer{
        margin-bottom: 30px;
    }

    .advantagesCardsContainer{
        gap: 10px;
    }
    .cardsContainer{
        gap: 10px;
    }
    .advantagesCard{
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 20px;
        border-radius: 16px;
    }

    .advantagesCard div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;
        height: auto;
    }
    .advantagesCard h3{
        margin: 0;
        font-size: 14px;
    }
    .advantagesCard p{
        font-size: 12px;
    }
    .advantagesCard img{
        width: 80px;
        height: max-content;
        margin-bottom: 0px;
    }


    .bottomCard{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 205px;
        padding: 10px 0px;
        gap: 0;
        @media(max-width:425px) {
            width: 155px;
        }
    }

    .bottomCard div{
        max-width: 80%;
    }

    .bottomCard h3{
        font-size: 10px;
    }

    .bottomCard p{
        font-size: 10px;
    }

    .bottomCard img{
        height: 60px;
    }

}