.preloaderContainer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: var(--containerBgColor);
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}


.preloader_spinner {
    width: 60px;
    height: 60px;
    border: 4px solid gray;
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    margin: 0 auto 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}