.businessAreaContainer{
    margin-bottom: 90px;
    width: 100%;
}

.areasActivitiesCards{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.areaActivityCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 500px;
    height: 500px;
    border-radius: 64px;
    transition: all 500ms ease;
    color: white;
}

.areaActivityCard:hover{
    transform: scale(1.05);
}

.areaActivityCard h3{
    font-size: 36px;
    margin: 0;
}

.areaActivityCard p{
    font-size: 20px;
    padding: 20px;
}

.areaActivityCard div, .areaActivityCard a{
    position: relative;
    z-index: 3;
    border-radius: 32px;
}

.areaActivityCard img{
    position: absolute;
    z-index: 0;
    max-width: 500px;
    border-radius: 64px;
}

@media (max-width:1200px) and (min-width:768px){
    .areasActivitiesCards{
        gap: 20px;
    }

    .areaActivityCard{
        width: 370px;
        height: 370px;
    }
    .areaActivityCard img{
        max-width: 370px;
        border-radius: 32px;
    }
    .areaActivityCard h3{
        font-size: 32px;
        margin: 0;
    }

    .areaActivityCard p{
        font-size: 18px;
        padding: 0 10px;
    }

}
@media (max-width:767px){ 
    .areasActivitiesCards{
        gap: 20px;
    }

    .areaActivityCard{
        width: 425px;
        height: 425px;
    }
    .areaActivityCard img{
        max-width: 425px;
    }

    .areaActivityCard h3{
        font-size: 36px;
        margin: 0;
    }

    .areaActivityCard p{
        font-size: 14px;
        padding: 5px;
    }

}

@media (max-width:425px) {
    .areaActivityCard{
        width: 320px;
        height: 320px;
    }
    .areaActivityCard img{
        max-width: 320px;
    }
    .areaActivityCard h3{
        font-size: 18px;
        margin: 0;
    }

    .areaActivityCard p{
        font-size: 14px;
        padding: 5px;
    }

}

