.depositContainer{
    width: 100%;
    margin-bottom: 30px;
}

.depositAdvantages{
    max-width: 1200px;
    display: flex;
    gap: 75px;
    margin-bottom: 60px;
}

.advantagesCard{
    background: var(--containerBgColor);
    border: 1px solid var(--containerBorderColor);
    padding: 33px;
    border-radius: 48px;
    color:white;
    transition: all 500ms ease;
    box-shadow: 0px 0px 15px var(--containerBoxShadowColor);
}

.advantagesCard:hover{
    transform: scale(1.05);
    color: #4E2473;
    background: white;
    box-shadow: 0px 0px 15px white;
}

.advantagesCard p{
    margin-bottom: 6px;
    min-width: 284px;
    font-size: 16px;
    font-weight: 300;
}

.advantagesCard h3{
    font-size: 24px;
    font-weight: 300;
}

.advantagesCard a{
    display: none;
}

.depositOpenButton{
    cursor: pointer;
    width: 100%;
    padding: 21px 0;
    border-radius: 48px;
    background: var(--containerBgColor);
    border: 1px solid var(--containerBorderColor);
    color: white;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
    box-shadow: 0px 0px 15px var(--containerBoxShadowColor);
}

.depositOpenButton:hover{
    background: white;
    color:#4E2473;
    box-shadow: 0px 0px 15px white;
}

 @media (max-width:1200px) and (min-width:768px) {
    .depositAdvantages{
        gap: 20px;
        margin-bottom: 40px;
    }

    .advantagesCard{
        padding: 15px;
        width: calc(768px/3);
        border-radius: 16px;
    }
    .advantagesCard p{
        min-width: 0;
    }
    .advantagesCard h3{
        font-size: 20px;
        font-weight: 300;
    }
    .depositOpenButton{
        font-size: 30px;
    }

 }

@media (max-width:767px){
    .depositAdvantages{
        gap: 10px;
        margin-bottom:30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .advantagesCard{
        width: 100%;
        padding: 15px;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
    }

    .advantagesCard div{
        max-width: max-content;
    }

    .advantagesCard p{
        min-width: 240px;
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 300;
    }

    .advantagesCard h3{
        font-size: 20px;
        font-weight: 300;
    }

    .advantagesCard img{
        width: 100px;
    }
    .depositOpenButton{
        width: 100%;
        font-size: 24px;
        justify-self: center;
    }
}

@media (max-width:425px){
.advantagesCard{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
    .advantagesCard div{
        max-width: max-content;
    }

    .advantagesCard p{
        min-width: 240px;
        margin-bottom: 6px;
        font-size: 12px;
        font-weight: 300;
    }

    .advantagesCard h3{
        font-size: 16px;
        font-weight: 300;
    }
}
