.creditFormBg{
    position: fixed;
    left: 0;
    top: 0;
    background: var(--containerBgColor);
    backdrop-filter: blur(100px);
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.creditFormContainer{
    max-width: max-content;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    margin: 20px auto;
}

.backNavButton{
    justify-content: center;
    position: relative;
    max-width: 100%;
    max-height: max-content;
    background: var(--containerBgColor);
    border:1px solid var(--containerBorderColor);
    border-radius: 32px;
    box-shadow: 0px 0px 30px var(--containerBoxShadowColor);
    padding: 20px 40px;
    color: white;
    transition: all 300ms ease;
}

.backNavButton:hover{
    background: white;
    color: #4e2473;
    box-shadow: 0px 0px 30px white;
}

.formParameters{
    max-width: 500px;
}

.formParameters h1{
    max-width: max-content;
    margin: 0;
    font-size: 36px;
}

.Parameter{
    width: 500px;
    color: white;
}

.fieldOfChange{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    background: white;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
}

.changeValueParam{
    position: absolute;
    cursor: pointer;
}


.changeParam{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fieldOfSelect{
    position: absolute;
    overflow-y:scroll;
    width: 500px;
    height: 260px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color:black;
    z-index: 100;
    transition: all 300ms ease;
}

.option{
    cursor: pointer;
    width: 85%;
    padding: 20px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 300;
    transition: all 300ms ease;
}

.option:hover{
    background: #4e2473;
    color: white;
}

.submitContainer{
    margin-top: 30px;
    max-width: 500px;
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;   
}

.submitContainer button{
    outline: none;
    border: 0;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 20px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    color: white;
    background: var(--containerBgColor);
    border: 1px solid var(--containerBorderColor);
    border-radius:32px ;
    box-shadow: 0px 0px 15px var(--containerBoxShadowColor);
    padding: 20px 40px;
    cursor: pointer;
    transition: all 500ms ease;
}

.submitContainer button:hover{
    background: white;
    color: black;
    box-shadow: 0px 0px 15px white;
}

.submitContainer div{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.submitContainer div p a{
    text-decoration: underline;
    outline: none;
    color: white;
}

.submitCheckbox{
    appearance: none;
    position: relative;
    width: 40px;
    height: 25px;
    border-radius: 32px;
    border: 1px solid #FFFFFF;
    transition: 500ms;
}
.submitCheckbox:checked{
    box-shadow: 0px 0px 5px white;
    background: #4e2473;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitCheckbox:checked::after{
    content: "\2713";
}


.Parameter input[type="text"]{
    cursor: pointer;
    width: 100%;
    position: relative;
    background: none;
    color:none;
    border: 0;  
    outline: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.Parameter input[type="tel"]{
    cursor: pointer;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 20px;
    font-weight: 300;
    font-family: "Montserrat",sans-serif;   
}

.resultContainer{
    position: relative;
    background: var(--containerBgColor);
    border: 3px solid var(--containerBorderColor);
    border-radius: 48px;
    box-shadow: 0px 0px 30px var(--containerBoxShadowColor);
    max-width: min-content;
    max-height: max-content;
    color: white;
    padding: 40px;
}

.resultTitle, .resultCount{
    max-width: max-content;
}

.resultTitle{
    font-size: 36px;
    margin: 0;   
}

.resultCount{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight:500 ;
    background: #4e2473;
    padding: 10px 20px;
    border: 1px solid var(--containerBorderColor);
    border-radius: 32px;
    box-shadow: 0px 0px 15px var(--containerBoxShadowColor);
}

@media (max-width:1200px) and (min-width:768px){
    .creditFormContainer{
        max-width: 768px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .resultContainer{
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width:767px) {
    .creditFormContainer{
        max-width: 425px;
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }
    
    .backNavButton{
        display: flex;
        justify-content: center;
        max-width: max-content;
        padding: 20px 40px;
    }

    .formParameters{
        max-width: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formParameters h1{
        font-size: 32px;
    }

    .Parameter{
        width: 100%;
        color: white;
    }

    .fieldOfChange{
        padding: 10px;
        font-size: 14px;
    }

    .fieldOfSelect{
        width: 401px;
        height: 160px;
    }
    .option{
        cursor: pointer;
        width: 90%;
        padding: 10px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 300;
        transition: all 300ms ease;
    }

    .option:hover{
        background: #4e2473;
        color: white;
    }

    .Parameter input[type="text"], .Parameter input[type="tel"]{
        font-size: 14px;
    }

    .submitContainer{
        max-width: 400px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px; 
    }

    .submitContainer button{
        max-width: 100%;
        width: 100%;
        justify-content: center;
        gap:5px;
        font-size: 18px;
        padding: 10px 0px;
    }

    .submitContainer button:hover{
        background: white;
        color: black;
        box-shadow: 0px 0px 15px white;
    }

    .submitContainer div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 14px;
    }

    .submitContainer div p{
        max-width: 200px;
    }


    .submitCheckbox{
        width: 25px;
    }

    .resultContainer{
        border-radius: 24px;
        max-width: 70%;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center ;
    }

    .resultTitle, .resultCount{
        font-size: 18px;
    }

    .resultTitle{
        margin: 0;   
    }


    .resultContainer a{
        font-size: 12px;
        max-width: 90%;
    }
}

@media (max-width:425px){
    .creditFormContainer{
        max-width: 320px;
    }
    
    .formParameters{
        max-width: 300px;
    }

    .fieldOfSelect{
        width: 300px;
    }
    .resultContainer{
        max-width: 300px;
    }
}