.quotesBlock{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.quotesCard{
    display:flex;
    align-items: center;
    background: var(--containerBgColor);
    border:1px solid var(--containerBorderColor);
    box-shadow: 0px 0px 10px var(--containerBgColor);
    color:white;
    gap: 45px;
    border-radius: 48px;
    padding: 40px 15px 40px 40px;
    transition: all 500ms ease;
}

.quotesCard:hover{
    transform: scale(1.05);
}

.quotesCard img{
    background: white;
    clip-path: circle(50% at 50% 50%);
}

.quotesCardTitle{
    margin: 0 0 60px 0;
    font-size: 30px;
    font-weight: bold;
}
.quotesCardPrice{
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}
.quoteUp{
    background: rgba(95, 170, 50, 0.25);
    box-shadow: 0px 0px 30px rgba(95, 170, 50, 0.25);
}

.quoteDown{
    background: rgba(208, 5, 12, 0.25);
    box-shadow: 0px 0px 30px rgba(208, 5, 12, 0.25);
}


@media (max-width:1200px) and (min-width:768px) {
    .quotesBlock{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-top: 30px;
    }
    .quotesCard{
        justify-content: space-around;
        gap: 0;
        width: calc(768px/3);
        padding: 20px 0;
        border-radius: 16px;
    }
    .quotesCard img{
        max-width: 80px;
    }

    .quotesCardTitle{
        margin-bottom: 30px;
        font-size: 20px;
    }
    .quotesCardPrice{
        font-size: 32px;
    }
}

@media (max-width:767px) and (min-width:426px){
    .quotesBlock{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
        overflow-y: scroll;
        height: 250px;
    }
    .quotesCard{
        width: 80%;
        justify-content: space-between;
    }
}

@media (max-width:425px){
    .quotesBlock{
        height: 160px;
        justify-content: unset;
        align-items: center;
        gap: 10px;
        overflow-x: scroll;
        margin-top: 30px;
        padding-bottom: 0;
        &::-webkit-scrollbar{
            appearance: none;
        };
    }

    .quotesCard{
        width: 300px;
        max-height: max-content;
        border-radius: 16px;
        padding: 15px;
    }

    .quotesCard img{
        max-width: 50px;
    }
    .quotesCardTitle{
        font-size: 20px;
        margin: 0;
    }
    .quotesCardPrice{
        font-size: 18px;
    }
    .quotesCard:hover{
        transform: none;
    }
}