.businessServiceRateContainer{
    width: 100%;
    margin-bottom: 90px;
}


.rateCardsContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.rateCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    max-width: 100%;
    width: 300px;
    background:var(--containerBgColor);
    box-shadow: 0px 0px 15px var(--containerBoxShadowColor);
    color: white;
    border: 1px solid var(--containerBorderColor);
    border-radius: 48px;
    transition: all 500ms ease;
}

.rateCard:hover{
    transform: scale(1.05);
    background: white;
    color:#4E2473;
    box-shadow: 0px 0px 15px white;
}

.rateCard:hover a{
    color: white;
    border:1px solid #4E2473;
    background-color: #4E2473;
}

.rateCard a{
    max-width: max-content;
    padding: 10px 20px;
    border: 1px solid var(--containerBorderColor);
    box-shadow: 0px 0px 15px var(--containerBoxShadowColor);
    border-radius: 48px;
    background: var(--containerBgColor);
    color: white;
    transition: all 300ms ease;
}

.rateCard a p{
    font-size: inherit;
}

.rateCard h3{
    font-size: 24px;
}

.rateCard p{
    font-size: 18px;
    font-weight: 200;
}

.rateCard svg{
    width: 15%;
}

@media (max-width:1200px) and (min-width:768px) {
    .businessServiceRateContainer{
        margin-bottom: 30px;
    }
    .rateCardsContainer{
        gap:0
    }

    .rateCard{
        width: calc(768px/4.2);
        text-align: center;
        align-items: center;
        justify-content: unset;
        gap: 10px;
    }

    .rateCard svg{
        width: 20%;
        height: 37px;
    }

    .rateCard h3{
        font-size: 18px;
        margin: 0;
    }

    .rateCard p{
        font-size: 14px;
    }

    .rateCard a{
        max-width: 100%;
        width: 80%;
        margin-top: auto;
        font-size: 14px;
    }

}

@media (max-width:767px){
    .businessServiceRateContainer{
        margin-bottom: 30px;
    }

    .rateCard{
        width: 100%;
        border-radius: 16px;
    }
    
    .rateCardsContainer{
        gap: 20px;
    }

    .rateCard h3{
        font-size: 18px;
    }
    .rateCard p{
        font-size: 14px;
    }
    
}