.errorMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.errorMessage h1{
    font-size: 160px;
    margin: 0;
}

.errorMessage h2{
    font-size: 36px;
    font-weight: 100;
    margin: 0 0 30px 0;
}

.backPageButton{
    display: flex;
    color: white;
    padding: 20px 40px;
    background: var(--containerBgColor);
    border: 1px solid var(--containerBorderColor);
    border-radius: 32px;
    box-shadow: 0px 0px 30px var(--containerBoxShadowColor);
    transition: all 500ms ease;
}

.backPageButton:hover{
    background: white;
    color:#4e2473;
    box-shadow: 0px 0px 30px white;
}