.businessOpenContainer{
    width: 100%;
    margin-bottom: 90px;
}

.businessCardsContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.businessCard{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    background: var(--containerBgColor);
    border: 1px solid var(--containerBorderColor);
    border-radius: 64px;
    color: white;
    transition: all 500ms ease;
    box-shadow: 0px 0px 15px var(--containerBoxShadowColor);
}

.businessCard:hover{
    transform: scale(1.05);
    background: white;
    color:#4E2473;
    box-shadow: 0px 0px 15px white;
}

.businessCard:hover .businessOpenButton{
    color:#4E2473;
    background: white;
    border-color: none   ;
    box-shadow: 0px 0px 10px gray;
}

.businessCard:hover .businessOpenButton:hover{
    color:white;
    background: #4E2473;
    border-color: #4E2473;
    box-shadow: 0px 0px 10px #4E2473;
}

.businessCard img{
    width: 300px;
}


.businessCardContent{
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}

.businessCardContent h1, .businessCardContent p{
    margin: 0;
}

.businessCardContent h1{
    text-align: center;
    font-size: 20px;
    color:inherit
}

.businessCardContent p{
    font-size: 18px;
}




@media (max-width:1200px) and (min-width:768px) {
    .businessOpenContainer{
        margin-bottom: 30px;
    }

    .businessCard{
        max-width: 100%;
        width: 100%;
        align-items: center;
        border-radius: 72px;
    }

    .businessCard img{
        width: 50%;
    }
    .businessCardContent{
        padding: 30px;
        align-items: center;
        justify-content: space-between;
        gap:20px;
    }

    .businessCardContent h1{
        font-size: 32px;
    }

    .businessCardContent p{
        font-size: 24px;
    }

}

@media (max-width:767px){
    .businessOpenContainer{
        margin-bottom: 30px;
    }
    .businessCard{
        border-radius: 48px;
        width: 100%;
    }
    .businessCard img{
        width: 50%;
    }

    .businessCardContent{
        padding: 15px 20px;        
        
    }
    
    .businessCardContent h1{
        text-align: center;
        font-size: 16px;
    }

    .businessCardContent p{
        font-size: 14px;
        font-weight: 200;
    }
}


@media (max-width:425px){
    .businessCard{
        border-radius: 32px;
    }


    .businessCardContent h1{
        text-align: center;
        font-size: 12px;
    }

    .businessCardContent p{
        font-size: 10px;
        font-weight: 200;
    }
}


