.creditMainBlock{
    margin-top: 120px;
    margin-bottom: 30px;
    color:white;
    width: 100%;
}

.creditMainBlock h1{
    width: max-content;
    line-height: 60%;
    margin: 0;
    margin-bottom:60px ;
}

.advantageCard:nth-child(1){
    justify-self: flex-start;
}
.advantageCard:nth-child(2){
    justify-self: center;
}
.advantageCard:nth-child(3){
    justify-self: flex-end;
}

.advantageCard:nth-child(2), .advantageCard:nth-child(3){
    margin:-15px 0 0 0;
}

.advantageCard{
    backdrop-filter: blur(10px);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    width: 800px; 
    border-radius: 48px;
    padding: 20px 40px;
    background: var(--containerBgColor);
    border: 1px solid var(--containerBorderColor);
    box-shadow: 0px 0px 15px var(--containerBoxShadowColor);
}

.button{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.creditButton{
    background: var(--containerBgColor);
    border: 1px solid var(--containerBorderColor);
    color: white;
    max-width: max-content;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 26px 60px;
    border-radius: 48px;
    cursor: pointer;
    transition: all 500ms ease;
    box-shadow: 0px 0px 15px var(--containerBoxShadowColor);
}

.creditButton:hover{
    background: white;
    color:#4E2473;
    box-shadow: 0px 0px 15px white;
}

.creditButton a:active{
    color:#4E2473;
}

@media (max-width: 1200px) and (min-width:768px){
    .creditMainBlock{
        margin-top: 30px;
    }
    .advantageCard{
        font-size: 24px;
        width: 500px; 
    }
    .creditButton{
        font-size: 24px;
    }
}

@media (max-width:767px) and (min-width:426px){
    .creditMainBlock{
        margin-top: 30px;
    }
    .creditMainBlock h1{
        margin-bottom: 20px;
    }

    .advantageCard{
        width: 250px;
        font-size: 16px;
    }
    .creditButton{
        font-size: 16px;
        padding: 15px 40px;
        margin-top: 10px;
    }
    .button{
        margin-top: 5px;
    }
}

@media (max-width: 425px){
    .creditMainBlock{
        margin-top: 15px;
        width: 320px;
    }
    .creditMainBlock h1{
        width: max-content;
        line-height: 60%;
        margin: 0;
        margin-bottom:20px ;
    }
    .advantageCard{
        width: 150px;
        font-size: 10px;
        padding: 10px 40px;
    }
    .advantageCard:nth-child(2), .advantageCard:nth-child(3){
        margin-top: -5px;
    }
    .creditButton{
        font-size: 12px;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 24px;
    }
}